* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 20px;
  padding: 0 15px;
}

.text-wrapper {
  margin-bottom: 75px;
}

.text-wrapper h2 {
  letter-spacing: 10px;
  margin-bottom: 60x;
  font-size: 30px;
}

.text-wrapper h3 {
  max-width: 640px;
  width: 100%;
  font-size: 33px;
  margin-bottom: 60px;
  line-height: 48px;
}

.text-wrapper p {
  max-width: 831.5px;
  width: 100%;
  font-size: 25px;
  line-height: 44px;
}

.tag-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 127px;
}

.tag-content h6 {
  font-size: 11px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  list-style: none;
}

.tag-list li {
  padding: 9px 15px;
  background-color: #fff;
  color:black;
  box-shadow: 0px 2px 4px wheat;
  margin-right: 15px;
  margin-bottom: 15px;
  letter-spacing: 1.4px;
}

.custom-tab li {
  background-color: blue;
  color: white;
}

@media (max-width:768px) {
  .text-wrapper h2 {
    font-size: 20px;
  }
  .text-wrappeer h3, .text-wrapper p {
    font-size: 15px;
    line-height: 25px;
  }
  .tag-wrapper {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }
}